@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol,
li {
  gap: 20px;
  justify-content: center;
  display: flex;
}

.card-style {
  border: 1px solid gray;
  background: none;
  border-radius: 12px;
  height: 488px;
  width: 392px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.image-card {
  background-color: blue;
  border-radius: 6px;
  height: 240px;
  width: 360px;
}

footer {
  margin-top: 80px;
  background-color: #f6f6f7;
  height: 500px;
  width: 100%;
}

.cardbox {
  border-radius: 12px;
  background-color: #e8e8ea;
  height: 100px;
  width: 750px;
}
