@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

button {
  border: 1px solid black;
  color: black;
  height: 40xp;
  width: 120px;
}
button:hover {
  background-color: black;
  color: white;
}

ol,
li {
  gap: 10px;
  justify-content: center;
  display: flex;
}
